.header-cont {
    min-height: 55px;
    padding: 5px 20px;
    background-color: #e6eff1;
    background-color: rgba(15, 22, 29, 0.95);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    height: 55px;
    width: 110px;
    background: url('../img/logo-4.png') no-repeat center center/cover;
}

.links-cont {
    height: max-content;
    color: #fefefe;
}

.search {
    border: 1px solid #000;
    border-radius: 5px;
    height: 25px;
    background-color: #fff;
    font-family: 'RobotoReg';
    color: #000;
    width: 150px;
    padding: 3px;
}

