.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    margin: 3px 5px;
    text-align: left;
    width: max-content;
}

button {
    font-size: 9px;
    color: #526474;
    background-color: #fefefe;
    border: none;
}

button:hover {
    cursor: pointer;
}